.DS_Store
wp-cli.local.yml
node_modules/
vendor/
vendor_prefixed/
*.zip
*.tar.gz
*.swp
*.txt
*.log
.phpunit.result.cache
composer.lock
build

/site/*
!/site/config.dist.php
!/site/wp-cli.dist.yml
!/site/web/
/site/web/*
!/site/web/wp-config.php
